# SPDX-FileCopyrightText: 2020 Volker Krause <vkrause@kde.org>
# SPDX-License-Identifier: CC0-1.0

include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/linux-qt6.yml
      - /gitlab-templates/linux-qt6-next.yml
      - /gitlab-templates/linux-qt6-static.yml
      - /gitlab-templates/android-qt6.yml
      - /gitlab-templates/freebsd-qt6.yml
      - /gitlab-templates/windows-qt6.yml
      - /gitlab-templates/alpine-qt6.yml
      - /gitlab-templates/cppcheck.yml
      - /gitlab-templates/xml-lint.yml
      - /gitlab-templates/yaml-lint.yml

build_clazy_clang_tidy:
  extends:
    - .ci_linux_base
    - .suse_tumbleweed_qt6stable
 # rules:
  # only run on merge requests
  # - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  variables:
  # CLAZY_CHECKS: level0,level1,level2,no-ctor-missing-parent-argument,isempty-vs-count,qhash-with-char-pointer-key,raw-environment-function,qproperty-type-mismatch
  # CXXFLAGS: -Werror -Wno-deprecated-declarations
  # CC: clang
  # CXX: clazy
  script:
  # - git config --global --add safe.directory $CI_PROJECT_DIR
  # - python3 -u ci-utilities/run-ci-build.py --project $CI_PROJECT_NAME --branch $CI_COMMIT_REF_NAME --platform Linux/Qt6/Shared --only-setup-environment
  # - mkdir -p /tmp/okular_build
  # - cd /tmp/okular_build
  # - cmake -DOKULAR_UI=both -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -G Ninja -DCMAKE_INSTALL_PREFIX=$CI_PROJECT_DIR/_install -DFORCE_NOT_REQUIRED_DEPENDENCIES=KF6DocTools -DKF6DocTools_FOUND=false $CI_PROJECT_DIR
  # - cat compile_commands.json | jq  '[.[] | select(.file | contains("'"$CI_PROJECT_DIR"'"))]' > compile_commands.aux.json
  # - cat compile_commands.aux.json | jq  '[.[] | select(.file | contains("/synctex/")| not)]' > compile_commands.json
  # - cp "$CI_PROJECT_DIR/.clang-tidy" .
  # - CLAZY_IGNORE_DIRS="settings_core.[cpp|h]|settings.[cpp.h]|pdfsettings.h|gssettings.h|ui_selectcertificatedialog.h|okularplugin_qmltyperegistrations.cpp|okularkirigami_qmltyperegistrations.cpp|okularkirigami_qmlcache_loader.cpp|okularplugin_qmlcache_loader.cpp|mobile/components/.rcc/qmlcache/|mobile/app/.rcc/qmlcache" ninja -k 0
    - run-clang-tidy
  artifacts: null
