[Desktop Entry]
Name=Bad Groups
Name[ca]=Grups dolents
Name[ca@valencia]=Grups dolents
Name[da]=Dårlige grupper
Name[de]=Schlechte Gruppen
Name[el]=Κακές ομάδες
Name[en_GB]=Bad Groups
Name[es]=Grupos incorrectos
Name[fi]=Huonot ryhmät
Name[gl]=Grupos malos
Name[it]=Gruppi errati
Name[ko]=불량 그룹
Name[nl]=Foute groepen
Name[pl]=Złe grupy
Name[pt]=Grupos Inválidos
Name[pt_BR]=Grupos inválidos
Name[sk]=Zlé skupiny
Name[sl]=Slabe skupine
Name[sr]=Лоше групе
Name[sr@ijekavian]=Лоше групе
Name[sr@ijekavianlatin]=Loše grupe
Name[sr@latin]=Loše grupe
Name[sv]=Felaktiga grupper
Name[uk]=Погані групи
Name[x-test]=xxBad Groupsxx
Name[zh_CN]=坏分组
Type=Service
# one value for every property definition in bad-groups-servicetype.desktop
ThisIsOkay=10
#empty
=11
#missing terminator
MissingTerminator=12
# empty and missing terminator
=13
# completely empty
=14
SomeOtherProperty=15
# extra spaces in group name (should be okay)
TrailingSpacesAreOkay=16
#missing type
MissingType=17
InvalidType=18
# ok again after invalid ones
ThisIsOkayAgain=19
