[Desktop Entry]
Name=Example
Name[ca]=Exemple
Name[ca@valencia]=Exemple
Name[da]=Eksempel
Name[de]=Beispiel
Name[el]=Παράδειγμα
Name[en_GB]=Example
Name[es]=Ejemplo
Name[fi]=Esimerkki
Name[gl]=Exemplo
Name[it]=Esempio
Name[ko]=예제
Name[nb]=Eksempel
Name[nl]=Voorbeeld
Name[pl]=Przykład
Name[pt]=Exemplo
Name[pt_BR]=Exemplo
Name[sk]=Príklad
Name[sl]=Primer
Name[sr]=Пример
Name[sr@ijekavian]=Пример
Name[sr@ijekavianlatin]=Primer
Name[sr@latin]=Primer
Name[sv]=Exempel
Name[uk]=Приклад
Name[x-test]=xxExamplexx
Name[zh_CN]=例子
Type=Service
X-KDE-ServiceTypes=example/servicetype,bar/foo
X-Test-Integer=42
X-Test-Double=42.42
X-Test-List=a,b,c,def
X-Test-String=foobar
X-Test-Bool=true
# not defined -> string
X-Test-Unknown=true
# QSize not supported -> string
X-Test-Size=10,20
