[Desktop Entry]
Name=Example
Name[ca]=Exemple
Name[en_GB]=Example
Name[fi]=Esimerkki
Name[nb]=Eksempel
Name[nl]=Voorbeeld
Name[pl]=Przykład
Name[pt]=Exemplo
Name[pt_BR]=Exemplo
Name[sk]=Príklad
Name[sr]=Пример
Name[sr@ijekavian]=Пример
Name[sr@ijekavianlatin]=Primer
Name[sr@latin]=Primer
Name[sv]=Exempel
Name[uk]=Приклад
Name[x-test]=xxExamplexx
Type=Service
X-KDE-ServiceTypes=foo/bar,bar/foo
X-Test-Integer=42
X-Test-Double=42.42
X-Test-List=a,b,c,def
X-Test-String=foobar
X-Test-Bool=true
# not defined -> string
X-Test-Unknown=true
# QSize not supported -> string
X-Test-Size=10,20
