[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=example/servicetype

[PropertyDef::X-Test-Integer]
Type=int
[PropertyDef::X-Test-Double]
Type=double
[PropertyDef::X-Test-Bool]
Type=bool
[PropertyDef::X-Test-List]
Type=QStringList
[PropertyDef::X-Test-String]
Type=QString
# this is not supported -> should not convert
# was used by KDE4 plasma-applet.desktop but that is no longer the case
[PropertyDef::X-Test-Size]
Type=QSize
