[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KDEDModule
[PropertyDef::X-KDE-FactoryName]
Type=QString
[PropertyDef::X-KDE-Kded-autoload]
Type=bool
[PropertyDef::X-KDE-Kded-load-on-demand]
Type=bool
