[Desktop Entry]
Name=NSA Plugin
Name[ast]=Complementu NSA
Name[bs]=NSA dodatak
Name[ca]=Connector de la NSA
Name[ca@valencia]=Connector de la NSA
Name[cs]=Modul NSA
Name[da]=NSA-plugin
Name[de]=NSA-Modul
Name[el]=NSA Plugin
Name[en_GB]=NSA Plugin
Name[es]=Complemento NSA
Name[fi]=NSA-liitännäinen
Name[gd]=Plugan NSA
Name[gl]=Complemento de NSA
Name[he]=תוסף NSA
Name[hu]=NSA bővítmény
Name[it]=Estensione NSA
Name[ko]=NSA 플러그인
Name[nb]=NSA programtillegg
Name[nl]=NSA-plug-in
Name[nn]=NSA-tillegg
Name[pl]=Wtyczka NSA
Name[pt]='Plugin' da NSA
Name[pt_BR]=Plugin NSA
Name[ru]=Модуль ФСБ
Name[sk]=NSA plugin
Name[sl]=Vstavek NSA
Name[sr]=НСА‑ов прикључак
Name[sr@ijekavian]=НСА‑ов прикључак
Name[sr@ijekavianlatin]=NSA‑ov priključak
Name[sr@latin]=NSA‑ov priključak
Name[sv]=NSA-insticksprogram
Name[tr]=NSA Eklentisi
Name[uk]=Додаток NSA
Name[x-test]=xxNSA Pluginxx
Name[zh_CN]=NSA 插件
Name[zh_TW]=NSA 外掛程式
Comment=Test Plugin Spy
Comment[ast]=Complementu de prueba qu'escluca
Comment[bs]=Špijun provjere dodataka
Comment[ca]=Connector de proves espia
Comment[ca@valencia]=Connector de proves espia
Comment[cs]=Testovací modul Spy
Comment[da]=Test-plugin spion
Comment[de]=Spionage-Testmodul
Comment[el]=Test Plugin Spy
Comment[en_GB]=Test Plugin Spy
Comment[es]=Probar espía de complementos
Comment[fi]=Testivakoiluliitännäinen
Comment[gd]=Plugan deuchainneach brathadair
Comment[gl]=Complemento espía de proba
Comment[he]=בדיקת תוסף ריגול
Comment[hu]=Kémbővítmény tesztelése
Comment[it]=Estensione di prova Spy
Comment[ko]=테스트 플러그인 첩자
Comment[nb]=Test tilleggsspion
Comment[nl]=Plug-in Spy testen
Comment[nn]=Spion for test-tillegg
Comment[pl]=Wypróbuj szpiega wtyczki
Comment[pt]=Espião dos 'Plugins' de Testes
Comment[pt_BR]=Plugin de teste de espionagem
Comment[ru]=Тестовый прослушивающий модуль
Comment[sk]=Testovací plugin špión
Comment[sl]=Preizkusni vohunski vstavek
Comment[sr]=Пробни прикључак шпијун
Comment[sr@ijekavian]=Пробни прикључак шпијун
Comment[sr@ijekavianlatin]=Probni priključak špijun
Comment[sr@latin]=Probni priključak špijun
Comment[sv]=Testa insticksprogramspion
Comment[tr]=Test Eklenti Ajanı
Comment[uk]=Тестовий додаток
Comment[x-test]=xxTest Plugin Spyxx
Comment[zh_CN]=Test Plugin Spy
Comment[zh_TW]=測試外掛程式
Type=Service
Icon=preferences-system-time
MimeType=image/png;application/pdf;

X-KDE-ServiceTypes=KService/NSA
X-KDE-Library=fakeplugin
X-KDE-FormFactors=mediacenter,desktop
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=fakeplugin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
